<!--редактирование/создания задачи-->

<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>
  <!--название задачи    -->
  <p>
    <mat-form-field>

      <mat-label>Название (обязательно)</mat-label>
      <input
        #inputTitle
        (keydown.enter)="onConfirm()"

        [(ngModel)]="tmpTitle"

        matInput> <!-- по нажатию на enter можем сразу сохранить задачу -->

      <button
        (click)="tmpTitle= ''"

        *ngIf="tmpTitle.trim().length > 0" aria-label="Clear" class="size25"

        mat-icon-button matSuffix>

        <mat-icon>clear</mat-icon>
      </button>

    </mat-form-field>
  </p>

  <p>
    <!--    выпадающий список категорий-->
    <mat-form-field>
      <mat-label>Укажите категорию</mat-label>

      <mat-select [(ngModel)]="tmpCategory">
        <mat-option [value]="null">Без категории</mat-option>
        <mat-option *ngFor="let cat of categories" [value]="cat">
          {{cat.title}}
        </mat-option>
      </mat-select>

    </mat-form-field>
  </p>

  <p>
    <!--    выпадающий список приоритетов-->
    <mat-form-field>
      <mat-label>Укажите приоритет</mat-label>

      <mat-select [(ngModel)]="tmpPriority">
        <mat-option [value]="null">Без приоритета</mat-option>

        <mat-option *ngFor="let p of priorities" [value]="p">
          {{p.title}}
        </mat-option>
      </mat-select>


    </mat-form-field>
  </p>

  <p>
    <!--    календарь - срок выполнения-->
    <mat-form-field>
      <input
        #inputDate (click)="picker.open()" [(ngModel)]="tmpDate"
        [matDatepicker]="picker"
        matInput
        placeholder="Укажите срок выполнения"
        readonly="true">
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <!-- иконка календаря (для открытия календаря) -->
      <mat-datepicker #picker></mat-datepicker> <!-- компонент календаря (открывается по нажатию)-->
      <!--кнопка очистки даты -->
      <button *ngIf="inputDate.value.trim().length > 0" aria-label="Clear" class="size25" mat-icon-button matSuffix
              (click)="tmpDate = undefined"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </p>
</mat-dialog-content>


<!--  кнопки возможных действий-->
<mat-dialog-actions>


  <div class="col-12">

    <button
      (click)="onConfirm()" [disabled]="inputTitle.value.trim().length==0"
      color="primary"
      mat-raised-button>  <!-- если пустой текст - кнопка "Сохранить" будет недоступна -->
      Save
    </button>


    <button (click)="onCancel()" mat-raised-button>Cancel</button>

  </div>


  <!--
    &lt;!&ndash;  возможные операции над задачей&ndash;&gt;
    <div
      class="col-md-7 col-12 text-right"


    >

      &lt;!&ndash;    <button
            (click)="complete()" *ngIf="!originalGoal.isCompleted"
            class="green"
            mat-button

          >
            Завершить
          </button>&ndash;&gt;
      &lt;!&ndash;
          <button
            (click)="activate()" *ngIf="originalGoal.isCompleted"
            class="green"
            mat-button>

            Активировать

          </button>

          <button
            (click)="delete()"

            class="red"
            mat-button

          >
            Удалить

          </button>
      &ndash;&gt;
    </div>
  -->

</mat-dialog-actions>
