<mat-dialog-content>
  <div *ngFor="let priority of priorities, let index = index" class="vertical-middle priorities">

    <div class="row align-self-baseline">

      <div class="col-9 ">
        <a class="pointer"> {{priority.title}}</a>
      </div>

      <div class="col-1 text-left">
        <p (click)="onDeletePriority(priority)" class="pointer gray">
          <mat-icon>delete</mat-icon>
        </p>
      </div>

      <div class="col-1 text-left">
        <p (click)="onUpdatePriority(priority)" class="pointer gray">
          <mat-icon>edit</mat-icon>
        </p>
      </div>
    </div>
  </div>

</mat-dialog-content>
<!--  кнопки возможных действий-->

<mat-dialog-actions>
  <p (click)="onAddPriority()" class="link little">
    Добавить приоритет
  </p>
</mat-dialog-actions>
