<mat-dialog-content>


  <p mat-dialog-title>{{dialogTitle}}</p>

  <div *ngIf="priorities.length > 0" class="QA_section table-responsive ">

    <table class="table lms_table_active QA_table settings">
      <tbody>
      <tr *ngFor="let priority of priorities, let index = index">
        <td class="title">{{priority.title}}</td>
        <td>
          <p (click)="onUpdatePriority(priority)" class="pointer td-edit">
            <mat-icon>edit</mat-icon>
          </p>
        </td>
        <td>
          <p (click)="onDeletePriority(priority)" class="pointer td-delete">
            <mat-icon>delete</mat-icon>
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="priorities.length == 0">
    <p>Priorities have not been added yet!</p>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="onAddPriority()" class="btn btn-primary">
    New priority
  </button>
</mat-dialog-actions>
