<mat-dialog-content>

  <p mat-dialog-title>{{dialogTitle}}</p>

  <div *ngIf="categories.length > 0" class="QA_section table-responsive ">

    <table class="table lms_table_active QA_table settings">
      <tbody>
      <tr *ngFor="let category of categories, let index = index">
        <td class="title">{{category.title}}</td>
        <td>
          <p (click)="onUpdateCategory(category)" class="pointer td-edit">
            <mat-icon>edit</mat-icon>
          </p>
        </td>
        <td>
          <p (click)="onDeleteCategory(category)" class="pointer td-delete">
            <mat-icon>delete</mat-icon>
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="categories.length == 0">
    <p>Categories have not been added yet!</p>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="onAddCategory()" class="btn btn-primary">
    New category
  </button>
</mat-dialog-actions>
