<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <section class="main_content dashboard_part default_content">
      <router-outlet></router-outlet>
      <app-header
        [categories]="categories"
        [priorities]="priorities"
        [sidebarStatus]="opened"
        (addCategory)="onAddCategory($event)"
        (updateCategory)="onUpdateCategory($event)"
        (deleteCategory)="onDeleteCategory($event)"
        (addPriority)="onAddPriority($event)"
        (updatePriority)="onUpdatePriority($event)"
        (deletePriority)="onDeletePriority($event)"
        (updateSidebarStatus)="onUpdateSidebarStatus($event)"
      >

      </app-header>
      <div class="main_content_iner ">
        <div class="container-fluid p-0 ">
          <div class="row ">
            <app-categories
              (updateCategory)="onUpdateCategory($event)"
              (deleteCategory)="onDeleteCategory($event)"
              [stat]="commonCategoryStat"
              [categories]="categories"
            >
            </app-categories>

            <app-goals
              (addGoal)="onAddGoal($event)"
              (updateGoal)="onUpdateGoal($event)"
              (deleteGoal)="onDeleteGoal($event)"
              [goals]="goals"
              [priorities]="priorities"
              [categories]="categories">
            </app-goals>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </section>

  </mat-sidenav-content>
</mat-sidenav-container>
