<nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
  <div class="logo d-flex justify-content-between">
    <a href="index.html"><img alt src=""></a>
    <div class="sidebar_close_icon d-lg-none">
      <i class="ti-close"></i>
    </div>
  </div>
  <ul id="sidebar_menu">
    <li>
      <a href="index.html#">

        <div class="icon_menu">
          <img alt src="img/menu-icon/dashboard.svg">
        </div>
        <span>Goals</span>
      </a>
    </li>
    <li>
      <a href="gallery.html">

        <div class="icon_menu">
          <img alt src="img/menu-icon/dashboard.svg">
        </div>
        <span>Habits</span>
      </a>
    </li>
    <li>
      <a href="habits.html">

        <div class="icon_menu">
          <img alt src="img/menu-icon/dashboard.svg">
        </div>
        <span>Log In</span>
      </a>
    </li>
    <li>
      <a href="index.html#">

        <div class="icon_menu">
          <img alt src="img/menu-icon/dashboard.svg">
        </div>
        <span>Register</span>
      </a>
    </li>
  </ul>
</nav>
