<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <section class="main_content dashboard_part default_content">

      <app-header
        [categories]="categories"
        [priorities]="priorities"
        [sidebarStatus]="opened"
        (addCategory)="onAddCategory($event)"
        (updateCategory)="onUpdateCategory($event)"
        (deleteCategory)="onDeleteCategory($event)"
        (addPriority)="onAddPriority($event)"
        (updatePriority)="onUpdatePriority($event)"
        (deletePriority)="onDeletePriority($event)"
        (updateSidebarStatus)="changeSidebarStatus($event)"
      >

      </app-header>

      <div class="main_content_iner ">
        <div class="container-fluid p-0 ">
          <div class="row ">

            <div class="col-12">
              <div class="card_box position-relative  mb_30 white_bg ">

                <div class="mail-contents">

                  <div class="chart" style="display: flex; justify-content:space-between;">
                    <div class="mail-contents-subject">
                      <div #myname id="container"
                           [attr.data-percent]="getTotalGoals() >0 ? getCompletedGoals()/getTotalGoals() : 0"></div>
                      <div class=" mail-contents-title
                  ">{{goal?.title}}</div>
                    </div>
                  </div>

                  <div class="mail">
                    <div class="mail-time">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                           class="feather feather-clock">
                        <circle cx="12" cy="12" r="10"/>
                        <path d="M12 6v6l4 2"/>
                      </svg>
                      {{goal?.deadline ? (goal?.deadline | date:'shortDate') : "No deadline" }}
                    </div>
                    <div class="mail-inside">
                  <textarea class="form-control mb-2" id="exampleFormControlTextarea1"
                            rows="3" [(ngModel)]="tmpDescription"
                            [placeholder]="descriptionPlceholder">
                    {{goal?.description}}
                  </textarea>
                      <div *ngIf="tmpDescription != goal?.description">
                        <button class="btn btn-primary" (click)="updateDescription()">Save</button>
                        <button class="btn btn-light" (click)="tmpDescription=goal?.description">Cancel</button>
                      </div>
                    </div>
                    <div class="mail-assign">
                      <div class="assignee">
                        <strong>Category: </strong> {{goal?.category?.title ? goal?.category?.title : "No category"}}
                      </div>
                      <div class="assignee">
                        <strong>Priority: </strong> {{goal?.priority?.title ? goal?.priority?.title : "No priority" }}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-12">
              <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 QA_section">
                  <div class="white_card_header goal-table-wrapper">

                    <div class="box_header m-0">
                      <div class="main-title">
                        <h3 class="m-0 table-title">Milestones</h3>
                      </div>
                      <button type="button" class="btn_1 mb-3 add-btn" (click)="openAddDialog()">+ Milestone</button>
                    </div>

                  </div>

                  <div class="white_card_body">
                    <div class="QA_table table-responsive ">

                      <table *ngIf="milestones && milestones.length > 0" class="table lms_table_active ">
                        <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Title</th>
                          <th scope="col">Deadline</th>
                          <th scope="col">Status</th>
                          <th scope="col"></th>
                          <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let milestone of milestones; index as i">
                          <td>{{i + 1}}</td>
                          <td>{{milestone.title}}</td>
                          <td [ngClass]="{'no-value': milestone.deadline == null}">
                            {{milestone.deadline ? (milestone.deadline | date:'shortDate') : "No deadline" }}
                          </td>
                          <td>{{milestone.isCompleted ? "Completed" : "In progress" }}</td>
                          <td (click)="openEditDialog(milestone)" class="pointer td-edit">
                            <mat-icon>edit</mat-icon>
                          </td>
                          <td (click)="openDeleteDialog(milestone)" class="pointer td-delete">
                            <mat-icon>delete</mat-icon>
                          </td>

                        </tr>
                        </tbody>
                      </table>

                      <p *ngIf="!milestones || milestones.length == 0">Setting milestones can help you stay focused by
                        breaking a larger goal into smaller parts that can feel more achievable.</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>

      <app-footer></app-footer>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
