<div class="col-lg-12">
  <div class="single_element">
    <div class="quick_activity">
      <div class="row">
        <div class="col-12">
          <div class="quick_activity_wrap">

            <div class="single_quick_activity">
              <div class="count_content">
                <!--<p>All</p>-->

                <div class="box_header" style="margin-bottom: 15px;">
                  <div class="main-title">
                    <p class="m-0">All</p>
                  </div>
                  <div class="header_more_tool">
                    <div class="dropdown">
                      <span class="dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuButton">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                      </span>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="index_2.html#"> <i
                          class="fas fa-edit"></i> Edit</a>
                        <a class="dropdown-item" href="index_2.html#"> <i class="fas fa-edit"></i> Delete</a>
                        <a class="dropdown-item" href="index_2.html#"> <i class="fas fa-edit"></i> Action</a>
                      </div>
                    </div>
                  </div>
                </div>
                <h3><span class="counter">10</span> goals</h3>
              </div>
              <div class="barfiller" id="bar1">
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
                <span class="fill" data-percentage="95"></span>
              </div>
            </div>

            <div *ngFor="let category of categories; let index = index;" class="single_quick_activity">
              <div class="count_content">
                <div class="box_header" style="margin-bottom: 15px;">
                  <div class="main-title">
                    <p class="m-0">{{category.title}}</p>
                  </div>
                  <div class="header_more_tool">
                    <div class="dropdown">
                      <span class="dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                      </span>
                      <div class="dropdown-menu">
                        <p class="dropdown-item"
                           (click)="openEditCategoryDialog(category)">
                          <i class="fas fa-edit"></i> Edit</p>
                        <p class="dropdown-item"
                           (click)="openDeleteDialog(category)">
                          <i class="fas fa-edit"></i> Delete</p>
                        <p class="dropdown-item"><i class="fas fa-edit"></i> Action</p>
                      </div>
                    </div>
                  </div>
                </div>
                <h3><span
                  class="counter">{{categoriesStat.get(category.id) ? categoriesStat.get(category.id)?.total : 0}}</span>
                  Goals</h3>
              </div>
              <div class="barfiller" [id]="index">
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
                <span class="fill" data-percentage="65"></span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
