<nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
  <div class="logo d-flex justify-content-between">
    <a href="../../../../index.html"><img alt src=""></a>
    <div class="sidebar_close_icon d-lg-none">
      <i class="ti-close"></i>
    </div>
  </div>
  <ul id="sidebar_menu">
    <li>
      <a [routerLink]="['']">

        <div class="icon_menu">
          <img alt src="/assets/images/dashboard.svg">
        </div>
        <span>Main</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/login']">
        <div class="icon_menu">
          <img alt src="assets/images/register.svg">
        </div>
        <span>Log In</span>
      </a>
    </li>
    <li>
      <a (click)="logout()" class="pointer">

        <div class="icon_menu">
          <img alt src="assets/images/login.svg">
        </div>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</nav>
